extends layout

block content
    h1 Welcome to PIX2LIFE
    nav
        ul
            li: a(href='/create') Create Project
            li: a(href='/manage') Manage Projects
            li: a(href='/register') Register
            li: a(href='/login') Login
            li: a(href='/logout') Logout
